@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /* z-index: 9999;   */
}

.box {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 450px;
    margin: 0 10px;
    z-index: 9999;  

}

.form-box header {
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    color: white;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box .a{
    color: white;
}

.form-box form .input input {
    height: 48px;
    width: 100%;
    font-size: 16px;
    padding: o 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

}

.btn {
    height: 35px;
    background-color: blue;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover {
    opacity: 0.82;
}

.submit {
    width: 100%;
}

.links {
    color: white;
    margin-bottom: 15px;
}

.nav {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 99999;
}

.logo {
    font-size: 25px;
    font-weight: 900;
}

.logo a {
    text-decoration: none;
    color: white;
}

.right-links a {
    padding: 0 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main box {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-widht:840px){
     .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     .top .box {
        margin: 10px 10px;
     }
     .bottom{
        margin-top: 0;
     }
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4070f4;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 37;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 53%;
    left: 7%;
    animation-duration: 81s;
    animation-delay: -113s;
    transform-origin: 2vw 11vh;
    box-shadow: 40vmin 0 5.221647268117605vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 39%;
    left: 43%;
    animation-duration: 49s;
    animation-delay: -122s;
    transform-origin: 11vw -13vh;
    box-shadow: -40vmin 0 5.010421101774584vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 15%;
    left: 51%;
    animation-duration: 74s;
    animation-delay: -15s;
    transform-origin: -24vw 5vh;
    box-shadow: -40vmin 0 5.5834903717727595vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 61%;
    left: 87%;
    animation-duration: 96s;
    animation-delay: -126s;
    transform-origin: -13vw 3vh;
    box-shadow: -40vmin 0 5.196250859483847vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 18%;
    left: 64%;
    animation-duration: 93s;
    animation-delay: -35s;
    transform-origin: 14vw -11vh;
    box-shadow: -40vmin 0 5.041285938328053vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 89%;
    left: 7%;
    animation-duration: 128s;
    animation-delay: -115s;
    transform-origin: -22vw -15vh;
    box-shadow: 40vmin 0 5.359875128877675vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 13%;
    left: 25%;
    animation-duration: 126s;
    animation-delay: -66s;
    transform-origin: 22vw 7vh;
    box-shadow: -40vmin 0 5.573220714178585vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 64%;
    left: 98%;
    animation-duration: 101s;
    animation-delay: -72s;
    transform-origin: 18vw -15vh;
    box-shadow: -40vmin 0 5.102446673694045vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 10%;
    left: 11%;
    animation-duration: 82s;
    animation-delay: -75s;
    transform-origin: 14vw 1vh;
    box-shadow: -40vmin 0 5.157905867253838vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 35%;
    left: 65%;
    animation-duration: 83s;
    animation-delay: -113s;
    transform-origin: 19vw 19vh;
    box-shadow: -40vmin 0 5.878690465512351vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 96%;
    left: 68%;
    animation-duration: 47s;
    animation-delay: -29s;
    transform-origin: -23vw 24vh;
    box-shadow: 40vmin 0 5.873883144130323vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 18%;
    left: 44%;
    animation-duration: 56s;
    animation-delay: -68s;
    transform-origin: 18vw 18vh;
    box-shadow: 40vmin 0 5.19799259150763vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 52%;
    left: 26%;
    animation-duration: 113s;
    animation-delay: -101s;
    transform-origin: -23vw 18vh;
    box-shadow: 40vmin 0 5.175978898934266vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 23%;
    left: 65%;
    animation-duration: 131s;
    animation-delay: -96s;
    transform-origin: 14vw 10vh;
    box-shadow: 40vmin 0 5.639926056422111vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 78%;
    left: 17%;
    animation-duration: 86s;
    animation-delay: -80s;
    transform-origin: -8vw -15vh;
    box-shadow: -40vmin 0 5.391856077189078vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 90%;
    left: 12%;
    animation-duration: 81s;
    animation-delay: -100s;
    transform-origin: -2vw -11vh;
    box-shadow: -40vmin 0 5.656339600251805vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 36%;
    left: 6%;
    animation-duration: 135s;
    animation-delay: -25s;
    transform-origin: 14vw -16vh;
    box-shadow: 40vmin 0 5.3466158769434vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 60%;
    left: 23%;
    animation-duration: 100s;
    animation-delay: -58s;
    transform-origin: 24vw 22vh;
    box-shadow: -40vmin 0 5.869886304879094vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 92%;
    left: 79%;
    animation-duration: 35s;
    animation-delay: -103s;
    transform-origin: -12vw 7vh;
    box-shadow: 40vmin 0 5.005475505615657vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 49%;
    left: 98%;
    animation-duration: 106s;
    animation-delay: -116s;
    transform-origin: -17vw -19vh;
    box-shadow: 40vmin 0 5.305994327529966vmin currentColor;
}
