/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* style-ServiceBooking.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#service-form {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.data-mobil-fieldset,
.data-pribadi-fieldset,
.layanan-service-fieldset,
.tanggal-booking-fieldset {
    margin-bottom: 20px;
}

.legend {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

select, input[type="number"], input[type="text"], input[type="tel"], input[type="email"], textarea, input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

select {
    appearance: none;
    background-image: url('arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

input[type="number"] {
    appearance: textfield;
}

input[type="radio"] {
    margin-right: 10px;
    margin-left: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button, a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 480px) {
    #service-form {
        width: 95%;
    }
}
